body{
  font-family: Roboto;
}

.main{
  background-color: #1F2937;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  
}
.brand{
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.name{
  color: white;
  font-family: 'Times New Roman';
  font-size: 22px;
}
.links{
  display: flex;
  gap: 30px;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  color: darkgrey;
}
.body{
  display: flex;
  align-items: center;
  padding: 30px  60px ;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 40px;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading{
  margin: 0;
  color: white;
}
.subheading{
  margin: 0;
  color: whitesmoke;
}
.sign{
  background-color: #3882F6;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 20px;
  border-style: none;
  border-radius: 5px;
  align-self: flex-start;
  cursor: pointer;
}
.big_img{
  width: 400px;
  height: 300px;
  
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 450px;
}
.title{
  font-size: 30px;
  margin: 0;
  
}
.cards{
  display: flex;
  gap: 25px;
}
.card{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 270px;
  border: 1px solid black;
  border-radius: 5%;
}

.rings{
  width: 150px;
  height: 200px;
  border-radius: 5%;
}
.description{
  padding: 6px;
  text-align: center;
  font-size: 16px;
  
}
.quote{
  height: 100px;
  background-color: rgb(220, 219, 219);
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.speaker{
  font-weight: bold;
}
.call_to_action{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cta{
  display: flex;
  gap: 50px;
  background-color: #3882F6;
  height: 60px;
  align-items: center;
  padding: 15px 70px;
  border-radius: 10px;
}

.topic{
  font-weight: bold;
  color: white;
  font-size: 15px;
}
.subtopic{
  font-size: 12px;
  color: rgb(230, 229, 229);
}

.sign_up{
  color: white;
  background-color: #3882F6;
  border: 2px solid white;
  padding: 5px 18px;
  font-size: 12px;
  border-radius: 5px;
}

